@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.loginbox {
  width: 100%;
  height: 60vh;
  border-radius: 0 0 0 87px;
  background: linear-gradient(274.88deg, #0474DA 0%, #044E92 100%);


}

.oval {
  position: absolute;
  right: 10%;
  top: -30%;
  border-radius: 50%;
  width: 470px;
  height: 80vh;
  opacity: 0.29;
  background-color: #389AF3;


}

.pp {
  margin-top: 9px;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  width: 100px;
}

.loginfield {
  position: relative;
  /* height: 400px; */
  width: 410px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2, 118, 179, 0.13);

}

.red {
  color: red;

}

.phide {
  position: relative;
  top: -35px;
  left: 90%;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .loginfield {
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  .oval {
    position: absolute;
    right: 0%;
  }

  .loginbtn {
    width: 100%;
  }
}
