<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="">
  <div class="header-bg ">
    <div class="oval">
    </div>
    <div class="log text-right mt-1 w-50 d-flex justify-content-between">
     <p class="tTitle">{{dashboard}}</p>
      <img src="assets/images/loginLogo.svg" width="70px" alt="">
    </div>
    <img [routerLink]="'/in/logout'" src="assets/images/Logout.svg" alt="" class="logout text-white" width="30px">
  </div>

</body>
</html>
